body	{
	font: 10pt/16pt georgia, sans-serif;
	color: #555753;
	background: #fff /*url(_fondo.jpg) no-repeat top left*/;
	margin: 20px; 
	}
table	{
	background: transparent;
	font: 10pt/16pt georgia, sans-serif;
	}
h1	{
	font-size: 12pt;
	background: #000030;
	color: #ffffff;
	text-align: left;
	margin-left: -10px;
    padding:5px;
	}
h2	{	
	color: #000000;
	font-size: 12pt;
	font-weight: bold;
	text-align: left
	}
h3	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-align: left
	}
p	{
	text-align: left;
	text-indent: 2.5%;
	margin-top: 10pt;
	margin-bottom: 3pt;
	margin-left: 2.5%;
	margin-right: 20%;
	line-height: 150%;
}

a:link {
	text-decoration: none;
	color: #0000ff
}
a:visited {
	text-decoration: none;
	color: #000080
}


.ref	{
	font-weight: bold;
	color: #00008b
	}
.tip	{
	font-style: italic
	}
.def	{}
.eti	{
	font-style: italic;
	color: #006b00
	}


.pe	{
	color: #000099
}
.cl	{
	font-weight: bold;
}
.df	{
	color: #000099;
	font-weight: bold
}
.tp	{
	font-family: "Courier New", Courier, monospace;
	font-style: Normal
}
.nu	{
	color: #990000;
	font-style: Italic
}
