
:root{
  --color-fondo-titulo: #101020;
  --color-fondo: #202040;
  --color-fondo-h1: #404080;
}

html {
	height: 100%;
}

body {
	margin: 0 0 0 0;
	background: var(--color-fondo);
}

.title {
	background: var(--color-fondo-titulo);
	color: white;
	text-align: left;
	margin: 0;
	font-weight: bold;
}

h1 {
    font-family: Raleway, sans-serif;
	font-weight: normal;
	background: var(--color-fondo-h1);
	color: white;
	padding: 1%;
	margin: 0;
	text-align: left;
}

h2, h3, li, p {
    font-family: Raleway, sans-serif;
	margin-left: 2%;
}

li {
	padding: .5%;
}

body div {
	margin: 0 auto;
	display: block;
}

#menu {
	width: 17%;
	padding-top: 4%;
	padding-left: 3%;
	float: left;
	background: var(--color-fondo);
	text-align: left;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu a:hover {
	color: yellow;
}

#content {
	min-height: 600px;
	width: 80%;
	padding: 0;
	float: right;
	background: white;
}

#content p {
	padding-left: 1%;
}

#content a {
	color: var(--color-fondo-titulo);
	font-weight: bold;
}

#content a:hover {
	color: red;
}

.fecha_feriado, .fecha_fin {
  font-weight: bold;
  color: #606060;
}

.fecha_parcial {
  font-weight: bold;
  color: #000080;
}

.clase_remota {
  color: white;
  font-weight: bold;
  background: red;
  padding: 2px;
}
